body {
    background-color: gray;
    font-family: 'Oswald', sans-serif;
}

#container {
    width: 80%;
    padding-top: 4%;
}

#hub-main-container {
    width: 80%;
    padding-top: 2%;
    position: center
}

#login-container {
    width: 40%;
    border: solid;
    border-width: 3px;
    border-color: black;
    padding: 1%;
    border-radius: 12px;
    background-color: white
}

#hub-container {
    width: 65%;
    border: solid;
    border-width: 3px;
    border-color: black;
    padding: 1%;
    border-radius: 12px;
    background-color: white;
}

.txtPassword {
    width: 100px;
    padding-top: 10px;
}
